
:root {
    
}

* {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 96%;
    background: #55DEAD;
    
    color: #000;
}

.header-container {
    background: #55DEAD;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

a {

}

blockquote {

}

body {

}

button {

}

code {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

img {

}

input {

}
 
label {

}

main {

}

menu {

}

menuitem {

}

nav {

}

span {

}

table {

}

tbody {

}

td {

}

textarea {

}

tfoot {

}

th {

}

thead {

}

tr {

}

ul {

}

ol {

}

